
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --rr-ff-body: 'Poppins' !important;
    /* --rr-ff-h: 'Libre Bodoni', sans-serif;
    --rr-ff-s: 'sail', system-ui;
    --rr-ff-p: 'Open Sans', sans-serif; */
    --rr-ff-h: 'Poppins';
    --rr-ff-s: 'Poppins'; 
    --rr-ff-p: 'Poppins';
    --rr-theme-1: #f7a41a;
    --rr-heading-1: #ee1c23;
    --rr-text-body: #3b2b1d;
}

img,
img:hover{
    border-radius: 8px;
}

.rr-btn,
.rr-btn-2,
.rr-btn-white{
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    
}
.rr-btn::before,
.rr-btn-2::before,
.rr-btn-white::before {
    display: none;
}
.rr-btn::after,
.rr-btn-2::after,
.rr-btn-white::after {
    border-radius: 8px;
}

/* Preloader Close Button */
.preloader-close {
  position: fixed;
  z-index: 9999;
  font-size: 26px;
  background: var(--rr-text-body);
  color: var(--rr-common-white);
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  right: 30px;
  top: 30px;
}
#loading {
  background-color: var(--rr-common-white);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader {
  color: var(--rr-heading-1);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 0.2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 0.2em;
  }
}

main{
    background: #ffffff;
}
.gray-bg {
    background: #f5f5f5 !important;
}

/* Base */
.btn-floating:hover img {
    margin-bottom: -3px
}
.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 12px 0 0 12px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}
.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
} 
.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}
.btn-floating:hover span {
    display: inline-block;
}
/* Youtube */
.btn-floating.youtube {
    background-color: #FF0000;
    bottom: 225px;
    right: 0%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.btn-floating.youtube:hover {
    background-color: #CC0000;
}
/* Phone */
.btn-floating.phone {
    bottom: 175px;
    right: 0%;
    background-color: #00A8E1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.btn-floating.phone:hover {
    background-color: #007BB5;
}
/* WhatsApp */
.btn-floating.whatsapp {
    background-color: #25D366;
    bottom: 125px;
    right: 0%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.btn-floating.whatsapp:hover {
    background-color: #34af23;
}


/* Header Section */
.rr-header-menu nav ul li > a {
    color: #232323 !important;
    padding: 10px 0px !important;
}
.search__popup {
    padding: 5%;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.search__top {
    margin-bottom: 2.5%;
}
#header-sticky .rr-hero-2-area {
    background: transparent !important;
}
.rr-header-2-area .header-sticky {
    background: rgba(255, 255, 255, 0.95) !important;
}
.rr-header-2-menu::before {
    width: 0% !important;
}
.rroffcanvas__logo {
    margin-bottom: 2.5%;
}
.rroffcanvas__logo img{
    margin-left: -2.5%;
    margin-top: 10%;
}

/*  Sub Header Section */
.breadcrumb__height {
    max-height: 250px;
}


/* Hero Section */
.rr-hero-space {
    max-height: 625px !important;
    padding-top: 10%;
}
.rr-hero-shape,
.rr-hero-shape2 {
    top: -12.5% !important;
}
.rr-hero-shape img,
.rr-hero-shape2 img {
    scale: 0.75;
}
.rr-hero-2-content {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    max-width: 100%;
    padding: 5% 1.5%;
}
.rr-hero-title2 {
    margin-bottom: 0.5%;
}
.rr-hero-2-content .content {
    font-family: var(--rr-ff-p);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 2.5%;
    text-align: center;
    color: #fff;
    transform: translateX(-80px);
    opacity: 0;
}
.rr-hero-2-area .swiper-slide.swiper-slide-active .rr-hero-2-content .content {
    opacity: 1;
    transform: translateX(0px);
    transition: all 2500ms ease;
}

/* About Section */
.rr-about-info {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(5, 17, 69, 0.1);
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 40px;
    margin-left: 0px;
    position: relative;
    z-index: 1;
    margin-top: -75px;
    padding-bottom: 50px;
    border-radius: 12px;
}
.rr-about-thumb {
    display: flex;
    justify-content: center;
}
.rr-about-thumb img {
    max-width: 1080px;
    min-height: 200px;
    border-radius: 12px;
}
.rr-about-info p {
    text-align: center;
    max-width: 100%;
    margin: 1% auto;
}
.rr-about-info .rr-about-btn{
    margin-top: 5%;
}
@media (max-width: 768px) {
    .rr-about-info p {
        text-align: justify;
    }
}


/* Video Section */
.rr-video-thumb::before {
    background: var(--rr-text-body);
    border-radius: 12px;
}
.rr-video-thumb img {
    border-radius: 12px;
}
.section-videoplay {
    position: relative;
    overflow: hidden;
}
.section-videoplay video {
    display: block;
}

/* Spaces events explore section */
.rr-events-explore-area {
    background-color: #fdf2ea;
    padding: 80px 0;
}
.rr-event-item {
   min-height: 475px;
   max-height: 500px;
   background: #fff;
   border-radius: 12px;
   border: 0.5px solid gold;
   overflow: hidden;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s;
}
.rr-event-item:hover {
   transform: scale(1.05);
   box-shadow: 0px 2px 4px rgba(5, 10, 10, 0.5);
}
.rr-event-thumb img {
   width: 100%;
   height: auto;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}
.rr-event-content {
   padding: 5%;
}
.rr-event-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: var(--rr-theme-1);
    font-family: var(--rr-ff-h);
    transition: 0.3s;
}
.rr-event-title:hover {
    color: var(--rr-heading-1);
 }
.rr-event-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #54595F;
}
.rr-event-btn a {
    font-size: 16px;
    padding: 10px 20px;
    font-family: var(--rr-ff-p);
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    background-color: transparent;
    color: #54595F;
    letter-spacing: 0.03em;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    position: relative;
    margin-top: 10px;
}
.rr-event-btn:hover a {
    color: var(--rr-theme-1);
}
/* Modal Styles */
.modal-dialog {
    padding: 2.5%;
}
.modal-content {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
.modal-body {
    padding: 5%;
}
.modal-body img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}
.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: var(--rr-ff-h);
    color: var(--rr-heading-1);
    text-align: center;
}
.modal-body p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    text-align: justify;
    font-family: var(--rr-ff-p);
}
.modal-body ul {
    list-style: disc;
    padding-left: 1.5rem;
}
.modal-body li {
    font-size: 1rem;
    line-height: 1.5;
}
.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--rr-heading-1);
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: var(--rr-text-body);
    z-index: 1;
    opacity: 9;
}
.btn-close::before {
    content: '×';
    font-size: 1.5rem;
    line-height: 2rem;
}
@media (max-width: 768px) {
    .rr-event-item {
       margin-bottom: 20px;
    }
}

/* Services Section */
.rr-service-item {
    display: flex;
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    padding: 5% 7.5%;
    border-radius: 12px;
    border: 1px solid gold;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rr-service-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(5, 10, 10, 0.5);
    padding: 5% 7.5%;
    border-radius: 12px;
}

/* CTA Section */
.rr-cta-bg-img::before {
    opacity: 0.5;
    background: transparent;
}
.rr-cta-title-2 {
    position: relative;
    font-family: var(--rr-ff-h);
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--rr-heading-1);
}

/* Footer Section */
.our-gallery__item img{
    min-height: 65px !important;
    border: 1px solid var(--rr-theme-1);
}
.our-gallery__item::before {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}
.rr-copyright-2-left-main p a,
.rr-copyright-2-right p a  {
    color: var(--rr-theme-1);
    font-weight: 700;
}
.rr-copyright-2-left-main p a:hover,
.rr-copyright-2-right p a:hover {
    color: var(--rr-heading-1);
    font-weight: 700;
}
.rr-footer-2-widget-content-item svg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2.5%;
    background: rgba(247,164,26, 0.5);
}


/* Our Asserts Section */
.rr-assets-thumb {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 8px;
}
.rr-assets-thumb::before {
    position: absolute;
    width: auto;
    height: auto;
    background: rgba(0,0,0, 0.5);
    content: "";
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 2;
    border-radius: 8px;
}
.rr-assets-thumb img {
    min-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(1);
    transition: 0.5s;
}
.rr-assets-item {
    margin-bottom: 30px;
}
.rr-assets-item:hover .rr-assets-thumb::before {
    opacity: 1;
    visibility: visible;
}
.rr-assets-item:hover .rr-assets-thumb img {
    transform: scale(1.2);
}
.rr-assets-item:hover .rr-assets-content {
    opacity: 1;
    visibility: visible;
}
.rr-assets-title {
    font-family: var(--rr-ff-h);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: var(--rr-heading-1);
    transition: 0.3s;
}
@media (max-width: 768px) {
    .rr-assets-title {
      font-size: 19px;
      line-height: 25px;
    }
    .rr-assets-content p{
        letter-spacing: -0.5px;
    }
}
.rr-assets-title:hover {
    color: var(--rr-theme-1);
}
.rr-assets-content {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    opacity: 0;
    padding: 7.5% 7.5%;
    visibility: hidden;
    transition: 0.3s;
}
.rr-assets-content p{
    color: #fff;
}



/* breadcrumb Css Override Style */
.breadcrumb__area:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: var(--rr-text-body);
    width: 100%;
    height: 100%;
    opacity: 0.25;
}
.rr-footer-2-title,
.breadcrumb__title,
.rr-contact__title  {
    color: var(--rr-heading-1);
}
.rr-contact-item-content a {
    color: var(--rr-text-body);
}

/* About Page */
.content-box .nav-tabs .nav-link {
    min-width: 100px;
    padding: 5% 1%;
    color: #000;
    border: 1px solid #ddd;
}
.rr-project-slider-content {
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(5, 17, 69, 0.1);
    padding: 21px 25px;
    margin: 0 30px;
    margin-top: -64px;
    position: relative;
}
.rr-project-btn a {
    font-family: var(--rr-ff-p);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #54595F;
}
.rr-project-btn:hover a {
    color: var(--rr-theme-1);
}

/* gallery Page */
.nav-tabs .nav-link.active {
    background-color: var(--rr-theme-1);
    color: #fff;
    border-color: var(--rr-theme-1);
}
.nav-tabs .nav-link {
    padding: 0.5% 10%;
    color: #000;
    border: 1px solid #ddd;
}
.nav-tabs .nav-link.active {
    border: 1px solid var(--rr-theme-1);
    border-bottom-color: transparent;
}
.rr-gallery-area {
    background: #f2ebe6;
}

.rr-widget-gallery:hover .our-gallery__item::before {
  transform: scale(1);
}
.rr-widget-gallery:hover.rr-widget-gallery a span {
  opacity: 1;
}
.rr-widget-gallery a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.rr-widget-gallery a img {
  width: 100%;
  object-fit: cover;
}
.rr-widget-gallery .our-gallery__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--rr-text-body);
    transform: scale(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
}
.gallery-img-item{
    position: relative;
}
.overlay-icon {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    display: none;
    z-index: 1;
    transition: transform 0.3s ease;
}
.gallery-img-item:hover .overlay-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
}

/* Contact Page */
.rr-contact__comment-form-box {
    border-radius: 12px;
    background: #F5F5F5;
    padding: 30px;
}
.rr-contact-form-input-box input {
    border-radius: 8px;
    border: 1px solid rgba(5, 17, 69, 0.1);
}
.rr-contact-item-icon span {
    background: rgba(247,164,26, 0.5);
}
.rr-brand-item img {
    filter: grayscale(100%);
    opacity: 0.9;
    transition: all 0.3s linear;
}
.rr-brand-item:hover img {
    filter: grayscale(0%) drop-shadow(2px 2px 5px rgba(5, 10, 10, 0.5));
    opacity: 1;
}

/* Background Images */
.home .rr-events-explore-area,
.home .rr-gallery-area {
    background-image: none !important;
}
.breadcrumb__area {
    background-image: url(../img/header/Bg-7.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-brand-area{
    background: #f2ebe6;
}
.rr-about-area{
    background-image: url(../img/bg-1.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: top center;
}
.rr-events-explore-area {
    background-image: url(../img/bg-2.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-service-area {
    background-image: url(../img/bg-3.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-gallery-area {
    background-image: url(../img/bg-4.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-testimonial-single-area {
    background-image: url(../img/bg-5.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-contact-bg {
    background-image: url(../img/bg-c.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-cta-area {
    background-image: url(../img/cta/cta-bg-new.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
.rr-brand-area{
    background-image: url(../img/bg-c.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}
footer{
    border-top: 1px solid rgba(5, 17, 69, 0.1);
    background-image: url(../img/bg-f.png) !important;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}

@media (min-width:991px){
    .footer-cols-2 {
        margin-left: 20%;
    }
    .footer-cols-3{
        margin-left: -15%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rr-hero-space {
        max-height: 600px !important;
        padding-top: 20%;
    }
    .rr-hero-2-area .swiper-pagination {
        bottom: 75px;
        left: 35%;
    }
    .rr-about-info {
        padding: 2.5%;
        margin: auto;
    }
    .rr-testimonial-single-quate-icon {
        position: absolute;
        left: 0%;
        top: -25%;
    }
    .rr-testimonial-single-quate-icon-right {
        position: absolute;
        right: 0%;
        bottom: 0%;
    }
}
@media (max-width: 767px) {
    .rroffcanvas {
        padding: 10% 5%;
    }
}

@media only screen and (max-width: 554px) {
    .rr-hero-space {
        max-height: 600px !important;
        padding-top: 25%;
    }
    .rr-hero-2-area .swiper-pagination {
        bottom: 75px;
        left: 35%;
    }
    .rr-about-info {
        padding: 2.5%;
        margin: auto;
    }
    .breadcrumb__height {
        max-height: 150px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2800px) {
    .rr-hero-space {
        padding-top: 5%;
    }
}

.rr-hero-2-area .swiper-pagination {
	bottom: 50px;
	width: calc(100% - 0%) !important;
	left: 0 !important;
	right: 0 !important; 
    bottom: 5% !important;
	z-index: 1;
}